.side-bar {
    background-color:#393939;
}
.top-bar {
     background-color:#FE5555;
}
.edit-bottom {
    margin-top: 4px;
}
.line-white-menu {
    width: 90%;
}
.setting {
    background-color:#393939;
}